<article class="post">
    <header>
        <h2 class="post__title">Lorem ipsum dolor sit amet.</h2>
    </header>
    <div class="post__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio saepe labore dolor quas repellat totam tempora
        voluptates, laudantium facilis in natus amet nihil rerum debitis culpa sit nostrum! Repudiandae architecto
        officiis aliquid recusandae. Sint nulla, nisi molestiae officia, voluptas ea architecto numquam accusantium
        necessitatibus ipsa asperiores ipsam beatae. Eum, ad.
    </div>
</article>